/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    color: #333; /* Change the text color if needed */
    text-align: center;
    padding: 1rem 0;
    position: relative;
    background-color: transparent; /* Remove the background color */
    border: none; /* Remove any border */
}

.header-image {
    width: 80%;
    height: auto;
}

h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: adds a semi-transparent background to the text */
    padding: 10px;
}

main {
    padding-bottom: 2rem; /* Adjust the value as needed */
}

.slogan {
    font-family: 'Exo', serif; /* Use your preferred font */
    font-size: 4rem; /* Make the text much bigger */
    font-weight: 300;
    color: #070707;
    text-align: left; /* Left-justify the text */
    margin-top: 3rem; /* Add space above the slogan */
    margin-bottom: 4rem; /* Add space below the slogan */
    padding-left: 13rem; /* Add some padding to the left if needed */
    line-height: 1.2; /* Adjust line height to control spacing between lines */
}

/* Ensure images are responsive */
.header-image, .gallery-item img {
    width: 100%;
    height: auto;
}

/* Flexbox layout for gallery items */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.gallery-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    flex: 1 1 calc(25% - 1rem); /* Adjust the width for different screen sizes */
    text-align: center;
    box-sizing: border-box;
    margin: 0.5rem; /* Add margin around each gallery item */
}

.gallery-item p {
    padding: 0.5rem;
}

/* Media queries for different screen sizes */
@media (max-width: 1200px) {
    .gallery-item {
        flex: 1 1 calc(33.333% - 1rem); /* 3 items per row */
    }
}

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 1rem); /* 2 items per row */
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%; /* 1 item per row */
        margin: 1rem 0; /* Add more margin for mobile devices */
    }
}

/* Responsive styles for the slogan */
@media (max-width: 768px) {
    .slogan {
        font-size: 2rem; /* Adjust the font size for smaller screens */
        padding-left: 1rem; /* Reduce padding for smaller screens */
        text-align: center; /* Center-align the text for smaller screens */
    }
}
